#{extends 'main.html' /}

<div data-role="content">
  <h3>Settings</h3>

  <form action="@{Application.savePreferences()}" data-ajax="false" method="post">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="vertical">
        <legend>
        </legend>
        <input name="offersAllowed" value="1" id="offersAllowed" type="checkbox"
               #{if fanUser.offersAllowed}checked="checked"#{/if}/>
        <label for="offersAllowed">
          Please send me new offers
        </label>
      </fieldset>
    </div>
    <input type="submit" data-theme="a" data-icon="arrow-r" data-iconpos="right" value="Save"/>
  </form>


  <h3>Points</h3>
  <p>
    <strong>You have ${fanUser.points} points</strong>. 1 point = 1 EUR
    <br/><strong>These are dummy points! No real purchases yet!</strong>
  </p>

  <p>Being a registered user, you get to:</p>

  <ul>
    <li>buy tickets to our shows</li>
    <li>buy tickets to our shows even when we're sold out - from time to time we keep a secret stash of tickets for users of our fan app</li>
    <li>see the schedule and information on plays on your smartphone</li>
    <li>send flowers to your favourite actor/actress. Flowers sent less than 15min before the end are delivered after the next show.</li>
  </ul>

  <p>In case of questions or issues <a href="mailto:nobody@ee.ee">email us</a>.</p>

  <a data-role="button" data-transition="fade" data-theme="a" href="/auth/logout">Log out</a>
</div>
