#{extends 'main.html' /}
#{set 'title'}&{'application.title'}#{/set}

<div class="wide">
#{if flash.error}
  <div class="alert-message error">
    &{flash.error}
  </div>
#{/if}
#{if flash.success}
  <div class="alert-message block-message success">
    <a class="close" href="#">×</a>
    <strong>&{flash.success}</strong>
    <div class="alert-actions">
      <a class="btn small" href="@{Secure.login()}">&{'login'}</a>
    </div>
  </div>
#{/if}
</div>
                          
<div class="span3">
	#{form @activate()}
  <fieldset>
  <div class="clearfix">
    <label for="email">&{'secure.email'}</label>
    <div class="input"><input type="text" name="email" id="email" value="${flash.email}" /></div>
	</div>
  <div class="clearfix">
    <label for="activationKey">&{'secure.activationKey'}</label>
    <div class="input"><input type="text" name="activationKey" id="activationKey" value="" /></div>
  </div>
  </fieldset>
	#{/form}
</div>
