#{extends 'main.html' /}
 #{set 'title'}Flowers#{/set}
<form action="@{Application.patActor()}" data-ajax="false" method="post">
  <div data-role="content">
    <div>
      Send flowers to your favourite performer and add a personal greeting! If you make the order at least 15 minutes before the show ends, you will see the delivery right on stage.
    </div>
    <div data-role="fieldcontain">
      <select data-native-menu="false" name="actorId" required=true id="selectmenu2" data-theme="c">
        <option>-- Choose performer --</option>
        #{list items:actors, as: 'actor'}
          <option value="${actor.key}">${actor.value.name}</option>
        #{/list}
      </select>

    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="vertical">
        <legend>
          Make a choice:
        </legend>

        #{list items:rewards, as: 'r'}
        <input name="rewardId" id="radio${r.key}" value="${r.key}" type="radio" required/>
        <label for="radio${r.key}">
          ${r.value.name} (${r.value.points} points)
        </label>
        #{/list}

      </fieldset>
    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="textarea1">
          Your greeting:
        </label>
        <textarea id="textarea1" maxlength="500" name="description"></textarea>
      </fieldset>
    </div>
    <input type="submit" data-theme="a" data-icon="arrow-r" data-iconpos="right" value="Send"/>
      <hr class="button-sep">
      <a data-role="button" data-theme="c" href="@{Application.support()}">Support the theatre</a>
  </div>
</form>
