#{extends 'main.html' /}
 #{set 'title'}Lilled#{/set}
<form action="@{Application.patActor()}" data-ajax="false" method="post">
  <div data-role="content">
    <div>
          Siit saab saata lemmiknäitlejale lilli koos tervitussõnumiga. Laval tuuakse näitlejale elegantsed kunstlilled, Sinu ostetud punktide eest makstakse näitlejale aga preemiat. Kui lilled on saadetud hiljemalt 15 minutit enne etenduse lõppu, antakse lilled üle etenduse lõppedes. Kui hiljem, siis järgmise etenduse lõppedes.
    </div>
    <div data-role="fieldcontain">
      <label for="selectmenu2">
        Kellele saadad lilled:
      </label>
      <select data-native-menu="false" name="actorId" required=true id="selectmenu2" data-theme="c">
        <option>-- Vali näitleja --</option>
        #{list items:actors, as: 'actor'}
          <option value="${actor.key}">${actor.value.name}</option>
        #{/list}
      </select>

    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="vertical">
        <legend>
          Mida saadad:
        </legend>

        #{list items:rewards, as: 'r'}
        <input name="rewardId" id="radio${r.key}" value="${r.key}" type="radio" required/>
        <label for="radio${r.key}">
          ${r.value.name} (${r.value.points} punkti)
        </label>
        #{/list}

      </fieldset>
    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="textarea1">
          Sõnum näitlejale:
        </label>
        <textarea id="textarea1" maxlength="500" name="description" placeholder="Kirjuta siia, mis sulle etenduse/näitleja juures meeldis"></textarea>
      </fieldset>
    </div>
    <input type="submit" data-theme="a" data-icon="arrow-r" data-iconpos="right" value="Saadan"/>
  </div>
</form>
