#{extends 'main.html' /}
#{set 'title'}Tool@NO99#{/set}

Welcome, ${fanUser.name}!

#{list items:events, as:'event'}
<div class="kava-item">
  <div class="data" onclick="toggleKavaExtended(this, 1);">
    <div class="time">${event.time.format('dd.MM.yyyy HH:mm')}</div>
    <div class="no">NO${event.production.noNumber}</div>
    <div class="title">${event.production.title}</div>
    <div class="location">${event.place.title}</div>
    <div class="ticket">&{'Pilet'}: ${event.ticketPrice}€</div>
    <div>
      #{set rating: fanUser.getRatingFor(event.production.id)/}
      <a class="${rating == models.EventRatings.LIKED ? 'selected' : ''}" href="@{Application.rateProduction(event.production.id, models.EventRatings.LIKED)}">Meeldis</a>
      <a class="${rating == models.EventRatings.DISLIKE ? 'selected' : ''}" href="@{Application.rateProduction(event.production.id, models.EventRatings.DISLIKE)}">Pole minu maitse</a>
      <a class="${rating == models.EventRatings.WANT_TO_SEE ? 'selected' : ''}" href="@{Application.rateProduction(event.production.id, models.EventRatings.WANT_TO_SEE)}">Soovin näha</a>
    </div>
    <div class="info">
      #{if event.lastTime}
        &{'Viimane etendus'}
      #{/if}
      #{elseif event.premiere}
        &{'Esietendus!'}
      #{/elseif}
    </div>
  </div>
  <div class="extended">
    ${event.production.intro.raw()}
  </div>
</div>

#{/list}




