#{extends 'main.html' /}

#{if production}

<div data-role="content">
  #{if production.imageName}
  <div>
    <img src="http://no99.ee/gfx/png/nimi.php?image_path=${production.imageName}"/>
  </div>
  #{/if}

  #{set ticket: fanUser.getTicketFor(event.id) /}
  #{if !ticket}
    #{if event.getTicketPrice() != null && fanUser.points > event.getTicketPrice()}
      <a id="buyTicket" data-role="button" data-transition="fade" data-theme="a" href="javascript:void(0)" onclick="buyTicket(${event.id}, ${event.getTicketPrice()})" data-icon="arrow-r" data-iconpos="right">
        Buy a ticket (${event.getTicketPrice()} points)
      </a>
      <span class="date">&nbsp;${event.time.format('dd.MM.yy HH:mm')}</span>
    #{/if}
    #{else}
      <span data-role="button">One ticket is ${event.getTicketPrice()} points. You don't have enough points!</span>
    #{/else}
  #{/if}
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>
            </legend>
            <input type="radio" name="rating" id="WANT_TO_SEE" value="WANT_TO_SEE" #{if fanUser.getRatingFor(production.id) == models.EventRatings.WANT_TO_SEE}checked="checked"#{/if}/>
            <label for="WANT_TO_SEE">Want to see</label>
            <input type="radio" name="rating" id="LIKED" value="LIKED" #{if fanUser.getRatingFor(production.id) == models.EventRatings.LIKED}checked="checked"#{/if}/>
            <label for="LIKED">I liked it!</label>

        </fieldset>
    </div>


  <div id="yourTicket">
    #{include './ticket.html'/}
  </div>

  <h3>
    ${production.title}
  </h3>

  <div id="production-details">
    ${production.content.raw()}
  </div>
  <a data-role="button" data-direction="reverse" data-rel="back" data-transition="fade" data-theme="c" href="#page1" data-icon="back" data-iconpos="left">
    Tagasi
  </a>

</div>

<script type="text/javascript">
  function buyTicket(eventId, ticketPrice) {
    $.post('@{Application.buyTicket()}', { eventId: eventId },
      function(html, st, jq){
        if("success" == st) {
          $('#yourTicket').html(html);
          $('#buyTicket').hide();

          if (typeof ticketPrice != undefined) {
            var newPoints = parseInt($('#current-points').html()) - ticketPrice;
            $('#current-points').hide().html(newPoints).fadeIn();
          }
        }
    });
   }

  function rateProduction(productionId, rating) {
    $.get('@{Application.rateProduction()}', {productionId: productionId, rating: rating}, function(html,sd,jq) {
    });
  }

  $(function() {
    $('input[name="rating"]').change(function() {
      var rating = $(this).val();
      rateProduction(${production.id}, rating);
      return false;
    });
  });

</script>

#{/if}
