<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>#{get 'title' /} - ${play.Play.configuration.get("application.name")}</title>
  <meta charset="${_response_encoding}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.17.custom.css'}">
  #{get 'moreStyles' /}
  <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/javascripts/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/javascripts/script.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  #{get 'moreScripts' /}
</head>

<body>
<div id="container">
    <div class="header">
        <ul id="menu">
            <li id="first">
                <a href="/Application/kava">Kava</a>
            </li>
            <li>
                <a href="#">Toeta näitlejat</a>
            </li>
            <li>
                <a href="#">Logi välja</a>
            </li>
        </ul>
        <div class="points">Punkte: <a href="#">76</a></div>
        <div class="clear"></div>
    </div>
    <div class="main">
        <div class="main-left">
            <div class="banner"></div>
        </div>
        <div class="main-right">
            #{doLayout /}
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
