<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>#{get 'title' /} - ${play.Play.configuration.get("application.name")}</title>
  <meta charset="UTF-8" />

  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/fontface/stylesheet.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
  #{get 'moreStyles' /}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>

  <!-- This sexy hack will bypass Facebook API crap for G48 demo. -->
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js" type="text/javascript" charset="${_response_encoding}"></script>

  <script src="@{'/public/javascripts/script.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  #{get 'moreScripts' /}
</head>

<body>
<div data-role="page" id="page1">
    <div data-theme="f" data-role="header">
        <div class="logo">
            <div class="point">Punkt</div>
            <div class="num-cont">
                <div class="num99">99</div>
                #{if fanUser}
                   <div class="num-user">${fanUser.points.format('#00')}</div>
                   <script type="text/javascript">$(document).ready(function(){setTimeout("slideNum99();", 1000);});</script>
                #{/if}
            </div>
            <div class="beta"></div>
        </div>
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="@{Application.kava()}" data-theme="a" data-icon="" data-transition="flip">
                        Kava
                    </a>
                </li>
                <li>
                    <a href="@{Application.flowers()}" data-theme="c" data-icon="" data-transition="flip">
                        Õlled / Lilled
                    </a>
                </li>
                <li>
                    <a href="#page1" data-theme="c" data-icon="" data-transition="flip">
                        Sinu konto
                    </a>
                </li>
            </ul>
        </div>
    </div>
       #{if flash.contains('success')}
        <span class="thankYou">${flash.get('success')}</span>
      #{/if}
      #{if flash.contains('error')}
        <span class="error">${flash.get('error')}</span>
      #{/if}
    #{doLayout /}
</div>
</body>
</html>
