<ul>
    <li>
        <a href="@{Application.kava()}" data-theme="c" data-icon="" class="ui-state-persist ${request.current().action.startsWith('Application.kava') ? 'ui-btn-active' : ''}">
            Kava
        </a>
    </li>
    <li>
        <a href="@{Application.flowers()}" data-theme="c" data-icon="" class="ui-state-persist ${request.current().action.startsWith('Application.flowers') ? 'ui-btn-active' : ''}">
            Lilled
        </a>
    </li>
    <li>
        <a href="@{Application.account()}" data-theme="c" data-icon="" class="ui-state-persist ${request.current().action.startsWith('Application.account') ? 'ui-btn-active' : ''}">
            Sinu konto
        </a>
    </li>
</ul>
